*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    margin: 20%;    
    width: 250px;
    height: 200px;
    border: 2px solid black;
    position: relative;
}

.transition01, .transition02, .transition03 {
    position: absolute;
    border: 1px solid black;
    padding: 2%;
    text-align: center;
    width: 50px;
    height: 25px;    
    }

.transition01 {
    top: 2%;
    left: 2%;
    transition: all 1s linear;
    }

.transition01:hover {
    background: red;
    width: 230px;
    height: 25px;
    transition: all 1s linear;
    }

/* lev1_2 */
.transition02 {
    top: 20%;
    left: 2%;
    }

.transition03 {
    top: 40%;
    left: 2%;
    transition: all 1s linear;
   }

.parent:hover > .transition02 {
        background: red;
        left: 70%;
        transition: all 1s linear;
        }

 .parent:hover > .transition03 {
        background: green;
        left: 70%;
        transition: all 2s linear ;
        }
 
 /* lev2_1 */
    div.parent02 { 
       position: relative;      
       width: 300px;
       height: 200px;
       margin: 10%;
       overflow: hidden;
    }

    div.txt {
        position: absolute;
        font-size: 2rem;
        color: rgb(39, 28, 126);
        bottom: -266px;  
        width: 300px;   
        height: 200px;
        display: grid;
        place-items: center; 
        background: rgba(76, 175, 80, 0.3);   
        transition: all 2s linear;    

    }

    img {
        width: 100%;
    }

 

.parent02:hover > div.txt {
    color: rgb(43, 37, 119);
    bottom: 0px;
    transition: all 2s linear;
   
    
}




/* lev3_1 */

.parent03 {
    width: 400px;
    height: 300px;
    border: 1px solid #666;
    margin: 20%;
    position: relative;
}

div.ball01 {
    width: 120px;
    height: 120px;
    background-color: pink;
    border-radius: 50%;
    text-align: center;
    padding: 8%;
    position: absolute;
    transition: all 1s linear;
    left: 0px;
    
}

div.ball02 {
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50px;
    text-align: center;
    padding: 5%;
    position: absolute;
    top: 42px;
    left: 150px;
    text-align: center;
    padding: 5%;
    transition: all 2s ease-in;
    
        
}

div.ball01:active {
    left: 33px;
    transition: all .5s linear;
    
}

div.ball01:active + div.ball02 {
    left: 300px;
    transition: all 1s ease-out .5s;
    
}






       